{% extends 'teacher/header.html' %}

{% block content %}
    <title>Teachers</title>
    <h1>Teacher here</h1>
    <div class="row container">
   {% for teacher in teachers %}
        <div class="col-md-4">
                <img src="/media/{{teacher.image | default:'/teacher/images/cartoon.png'}}" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2>{{teacher.id}}</h2>
            <h1>{{teacher.name | upper }}</h1>
            <h2>{{teacher.subject_Name|lower}}</h2>
            <h2>{{teacher.qualification}}</h2>
            <a class="btn btn-danger" href="/teacher/delete/{{teacher.id}}">DELETE</a>
            <a class="btn btn-success" href="/teacher/update/{{teacher.id}}">UPDATE</a>
            <hr>
        </div>
    {% endfor %}
        </div>
{%endblock%}