{% extends 'first/header.html' %}

    {% block content %}
    <title>Login</title>
    <div class="container mt-5">
        <form>
            <label for="username">Enter Username</label>
            <input class="form-control" type="text" name="username" id="username">
            <label for="password">Enter Password</label>
            <input class="form-control" type="password" name="password" id="password">
            <input class="btn btn-success mt-4" type="submit" value="Login Me">
        </form>
    </div>
  {%endblock content%}